.container
	.row
		.footer__copy © Усі права захищено. Saga Apartments
		a(herf='https://smarto.agency/' rel="nofollow" target="_blank").footer__link
			img(src='./assets/svg/smarto.svg' alt="" title="")