.header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 30;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: $wc;
  transform: translateX(-50%);

  &-menu {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    .has-children:last-child {
      border-right: 1px solid #ccc;
    }

    .menu__title {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.3px;
      color: $text;

      a {
        display: block;
        text-decoration: none;
        color: $text;
      }
    }

    li {
      position: relative;
      width: 100%;
      min-width: 140px;
      line-height: 60px;
      cursor: pointer;

      @include to(1360px) {
        min-width: auto;
      }
    }

    .has-children {
      .menu__title {
        &::after {
          width: 15px;
          height: 10px;
          display: inline-block;
          vertical-align: middle;
          content: '';
          background: url('../img/svg-icon/arrow_menu.svg') no-repeat center;
          transition: all 0.3s;
        }
      }

      &:hover {
        .menu__title::after {
          transform: rotate(180deg);
        }

        .sub-menu {
          left: 0;
          opacity: 0.8;
          height: auto;
          visibility: visible;
        }

      }
    }

    .sub-menu {
      position: absolute;
      top: 60px;
      left: 15px;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      padding: 15px 0 15px 0;
      min-width: 143px;
      width: auto;
      height: 0;
      background-color: $main-color;
      background-image: linear-gradient(to top, #072f71 0%, #005bab 100%);
      transition: all 0.3s;

      li {
        padding: 0 10px 0 10px;
        display: block;
        transition: all 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);

          a {

            transform: translateX(5px);
          }

        }

        a {
          display: block;
          font-family: $default-font;
          font-size: 12px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0.3px;
          color: $wc;
          white-space: nowrap;
          text-decoration: none;
          transition: all 0.3s;
        }
      }

    }
  }

  .header-adress {
    padding: 0 18px 0 18px;

    @include to(1200px) {
      padding: 0 2px 0 2px;
    }

    @include to(992px) {
      margin-left: auto;
      padding: 0 18px 0 18px;
    }

    &__tel {
      font-size: 18px;
      letter-spacing: 0.45px;
      text-transform: uppercase;
      color: $main-color;
      font-weight: 700;
      text-decoration: none;
    }

    &__time {
      font-family: $default-font2;
      font-weight: 400;
      color: $text;
      letter-spacing: 0.55px;
    }
  }

  .header-leng {
    max-width: 180px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: $main-color;
    background-image: linear-gradient(to top, #072f71 0%, #005bab 100%);

    svg {
      align-self: center;
      width: 20px;
      height: 30px;
      fill: $wc;
    }

    .svg-wrap {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu-btn {
      position: relative;
      padding: 0;
      display: flex;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: none;

      &-text {
        z-index: 4;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 12px;
        text-transform: uppercase;
        color: $wc;
        letter-spacing: 0.6px;
      }

      &-line {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        span {
          margin: 0 3px;
          width: 0.8px;
          height: 30px;
          background-color: #ccc;
        }

        span:nth-child(1) {
          transform: translateY(-5px);
        }

        span:nth-child(2) {
          transform: translateY(0px);
        }

        span:nth-child(3) {
          transform: translateY(5px);
        }

        span:nth-child(4) {
          transform: translateY(-2px);
        }

        span:nth-child(5) {
          transform: translateY(2px);
        }

        span:nth-child(6) {
          transform: translateY(-6px);
        }
      }
    }
  }
}

.logo {
  padding: 0 30px 0 30px;
  display: flex;
  width: 144px;
  height: 43px;
  align-items: center;

  @include to(1200px) {
    padding: 0 15px 0 15px;

  }

  @include to(576px) {
    padding: 0 0 0 15px;
    width: 120px;
  }
}

.language {
  position: relative;
  padding: 0 0 0 10px;
  width: 60px;
  display: flex;
  align-items: center;

  @include to(600px) {
    margin-right: 10px;
  }

  a {
    font-family: $default-font;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.71px;
    color: $wc;
    text-decoration: none;
  }

}

.language-btn {
  position: relative;
  margin-top: -1px;
  margin-left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.language-btn::before {
  margin-top: -3px;
  width: 8px;
  height: 8px;
  display: block;
  content: '';
  transform: rotate(45deg);
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: all 0.4s;

  @include to(600px) {
    width: 10px;
    height: 10px;
  }
}

.language-btn:hover {
  cursor: pointer;
}

.language-btn:hover::before {
  transform: rotate(-135deg);
}

.language:hover .lang--active {
  margin-top: -38px;
  line-height: 20px;
  transition: all 0.4s;
}

.lang__item {
  line-height: 15px;
  box-sizing: border-box;
}

.lang__item .underline--black:focus {
  outline: 1px rgba(255, 255, 255, 0.6) solid;
}

.lang__item .underline--black::after {
  background-color: #000000;
}

.lang_dropdown {
  position: absolute;
  top: 23px;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 46.33px;
  max-height: 0;
  overflow: hidden;
  list-style: none;
  transition: .35s;
}

.lang-dropdown--active {
  max-height: 60px;
  opacity: 1;
}

.lang--active {
  display: block;
}

.lang--active:focus {
  outline: 1px rgba(255, 255, 255, 0.6) solid;
}


.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 20;
  padding-top: 60px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1d2227;
  background-image: linear-gradient(45deg, #1e1e2e 0%, #3f434f 28%, #5e656d 50%, #3f434f 76%, #1e1e2e 100%);

}

.main-titles {
  padding-top: 45px;

  .title-line {
    margin-left: 65px;
  }

  .main-title {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    color: $wc;
    letter-spacing: 3.6px;

    @include to(768px) {
      margin-left: 10px;
    }

    @include to(576px) {
      font-size: 24px;
    }
  }

  .ribbon {
    position: absolute;
    top: 75px;
    left: 55px;
    z-index: -1;
    width: 30px;
    height: 339px;
    background-image: url('../img/home/ribbon.png');

    @include to(768px) {
      left: 30px;
    }
  }
}

.mobile-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @include to(576px) {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  &>li {
    margin-bottom: 20px;
    padding-left: 15%;
    width: 50%;

    @include to(576px) {
      width: 70%;
      margin-bottom: 20px;
    }

    a.menu__title {
      display: inline-block;
    }

    .menu__title {
      margin-bottom: 7px;
      display: block;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: $wc;
      letter-spacing: 0.9px;

      @include to(576px) {
        font-size: 16px;
      }
    }

    .sub-menu {
      &>li {}

      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: $wc;
        text-decoration: none;
        letter-spacing: 0.7px;

        @include to(576px) {
          font-size: 10px;
        }
      }
    }
  }
}

.close-menu-btn {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #363946;
  border: none;
  transition: all 0.3s;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 80%;
    height: 3px;
    content: '';
  }

  &::before {
    background-color: $blue;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    background-color: $blue;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}



.mainForm {
  margin: 0 auto;
  padding: 40px 50px;
  display: flex;
  max-width: 600px;
  width: 50%;
  flex-direction: column;
  background-color: $main-color;

  @include to(1200px) {
    padding: 20px 15px;
  }

  @include to(468px) {
    padding: 20px 10px;
  }

  @include to(768px) {
    width: 60%;
  }

  @include to(668px) {
    width: 70%;
  }

  @include to(568px) {
    width: 80%;
  }

  @include to(468px) {
    width: 100%;
  }

  .intl-tel-input {
    width: 100%;
  }

  .intl-tel-input.allow-dropdown input,
  .intl-tel-input.allow-dropdown input[type=tel],
  .intl-tel-input.allow-dropdown input[type=text],
  .intl-tel-input.separate-dial-code input,
  .intl-tel-input.separate-dial-code input[type=tel],
  .intl-tel-input.separate-dial-code input[type=text] {
    padding-left: 24.5%;

    @include to(576px) {
      padding-left: 17.5%;
    }
  }

  .intl-tel-input.allow-dropdown .flag-container,
  .intl-tel-input.separate-dial-code .flag-container {
    left: 7%;

    @include to(666px) {
      left: -2%;
    }
  }

  .main-form__title {
    position: relative;
    margin-bottom: 30px;
    color: $wc;

    @include to(1200px) {
      font-size: 20px;
    }

    @include to(468px) {
      margin-bottom: 40px;
      font-size: 16px;
    }

    button {
      position: absolute;
      top: 50%;
      right: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      background-color: transparent;
      transform: translateY(-50%);
      transition: 0.3s all;

      @include to(468px) {
        width: 20px;
        height: 20px;
      }

      &:hover {
        transform: translateY(-50%) rotate(90deg) scale(1.05)
      }

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $blue;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.mainForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include to(1200px) {
    justify-content: center;
  }

  &-wrap {
    position: relative;
    margin-bottom: 50px;
    padding-left: 10px;
    flex-basis: 45%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background: rgba(176, 169, 111, 0.3);

    @include to(1200px) {
      flex-basis: 80%;
    }

    @include to(666px) {
      flex-basis: 95%;
    }
  }

  &-wrap.input-focus-js {
    .mainForm__text {
      transform: translate(-30px, -65px);

      @include to(666px) {
        transform: translate(0, -55px);

      }
    }
  }

  &-wrap.requaired {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      border: 20px solid transparent;
      border-top: 20px solid $blue;
      border-right: 20px solid $blue;

      @include to(666px) {
        border: 15px solid transparent;
        border-top: 15px solid $blue;
        border-right: 15px solid $blue;
      }
    }

    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      right: 9px;
      top: 5px;
      display: block;
      content: "*";
      color: #fff;
      z-index: 2;
      font-size: 25px;

      @include to(666px) {
        top: 1px;
        right: 6px;
      }
    }
  }

  .inputtelmask {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 50%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: $blue;
    transform: translateY(-50%);
    transition: all 0.5s;

    @include to(666px) {
      padding-left: 0;
      font-size: 13px;
    }

    .wrap-icon {
      position: relative;
      margin-right: 30px;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      fill: $blue;

      @include to(666px) {
        margin-right: 15px;
      }
    }
  }

  &__input {
    height: 50px;
    position: relative;
    background: transparent;
    border: none;

    &::placeholder {
      color: $blue;
    }

    @include to(666px) {
      height: 40px;
    }
  }
}

.sand-form {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: $wc;
}
