.advantages{
  padding: 15px 30px 0;
  &__wrapper{
    display: grid;
    grid-template-areas:
      "one  two   two"
      "one  three four"
      "five six  six"
      "seven  six  six";
    grid-gap: 15px;
    padding: 30px 0;

  }
  &--item{
    position: relative;
    .wow{
      opacity: 0;
    }
    &__content{
        position: absolute;
        left: 25px;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        color: $wc;
        font-family: $default-font;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.6px;
        z-index: 4;

        span {
          margin-bottom: 5px;
        }
    }
    &__text{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.4px;
      padding-left: 35px;
    }
  }
  &__img{
    display: block;
    height: 100%;
    width: 100%;
    min-height: 284px;
    img{
      display: block;
      height: 100%;
      width: 100%;
      min-height: 284px;
      object-fit: cover;
      transition: all 8s;
      transform: scale(1);
    }
    &:hover{
      img{
        transform: scale(1.1);

      }
    }
    &-wrapper{
      overflow: hidden;
    }
  }
  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, $main-color, transparent);
    opacity: 0.8;
    z-index: 2;
    pointer-events: none;
  }
  .info--line{
    width: 40px;
  }
}


.adv__grid--area__1{
  grid-area: one;
}
.adv__grid--area__2{
  grid-area: two;
}
.adv__grid--area__3{
  grid-area: three;
}
.adv__grid--area__4{
  grid-area: four;
}
.adv__grid--area__5{
  grid-area: five;
}
.adv__grid--area__6{
  grid-area: six;
}
.adv__grid--area__7{
  grid-area: seven;
}

@media screen and (max-width: 1199px){
  .advantages{
    &__wrapper{
      grid-template-areas:
    "one one"
    "one one"
    "two two"
    "three four"
    "five five"
    "six six"
    "seven seven"
    "seven seven";
    }
  }
}

@media screen and (max-width: 767px){
  .advantages{
    padding: 0;
    &__wrapper{
      grid-template-areas:
              "one"
              "two"
              "three"
              "four"
              "five"
              "six"
              "seven";
      grid-gap: 15px 10px;
      padding: 15px 10px;
    }
    &--item{
      &__content{
        left: 5px;
        bottom: 30px;
      }
    }
  }
}