.tabs-form-sublitle {
  margin-bottom: 20px;
  text-align: center;
}

.tabs-form-sublitle:not(#some) {
  color: $wc;
}

.tabs-container {

  .mainForm {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 70%;

    @include to(768px) {
      width: 85%;
    }

    @include to(576px) {
      width: 95%;
    }
  }

  .mainForm__input,
  .mainForm__text {
    height: 50px;
  }
}

.tabs-inner__title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.6em;
  color: $wc;
  letter-spacing: 0.9px;
  text-align: center;

  @include to(1200px) {
    font-size: 30px;
  }

  @include to(768px) {
    font-size: 24px;
  }
  @include to(576px) {
    font-size: 18px;
  }
}

.tabs {
  padding: 50px 0;

  @include to(768px) {
    margin-bottom: 0;
  }

  @include to(768px) {
    padding: 30px 0;
  }

  a {
    display: inline-block;
    color: #000;
    white-space: normal;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text{
      color: $main-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: -0.4px;
    }
    li {
      display: flex;
      flex-basis: 33.3333%;

      @include to(666px) {
        flex-basis: 100%;
      }
      
      button {
        padding: 16px 0;
        width: 100%;
        text-align: center;
        color: $bc;
        border: none;
        background-color: $gold;
      }

      &:hover {
        button {
          color: $gold;
          background-color: $main-color;
          transition: all 0.3s;
        }
      }
    }

    li.active-li {
      button {
        background-color: $main-color;
        color: $gold;
      }
    }
  }

  &__content {
    position: relative;
    min-height: 410px;

    
    .tabs__inner {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 20px 20px 60px;
      display: none;
      width: 100%;
      height: 100%;
      background-color: $main-color;
      @include to(1200px) {
        padding: 30px 70px;
      }
      @include to(666px) {
        padding: 30px 0px;
      }
      .tabs-inner__title{
        transform: translateX(5%);
        transition: 0.3s all;
      }
    }

    .tabs__inner.active-js {
      position: relative;
      min-height: 410px;
      display: block;
      @include to(1200px) {
        min-height: 502px;
      }
      .tabs-inner__title{
        transform: translateX(0px)
      }
    }

    .contact {
      &-list {
        flex-wrap: wrap;
      }

      &-list {
        display: flex;

        justify-content: space-between {
          flex-wrap: wrap;
        }

        @include to(1400px) {
          align-items: center;
          justify-content: space-around;
        }

        &__title {
          position: relative;
          margin-bottom: 10px;
          font-size: 24px;
          @include to(576px){
            font-size: 14px;

          }
          &::before {
            position: absolute;
            top: 40%;
            left: -46px;
            z-index: 2;
            display: block;
            width: 36px;
            height: 36px;
            content: '';
            background-color: $gold;
            border-radius: 50%;
            transform: translateY(-50%);
          }
        }

        &__item {
          width: 25%;
          margin-left: 55px;
          margin-bottom: 60px;
          padding-right: 20px;
          font-size: 14px;
          line-height: 2em;
          font-weight: 400;
          letter-spacing: 0.14px;

          @include to(1400px) {
            width: auto;
          }
          @include to(1200px) {
            margin-bottom: 40px;
          }

          @include to(768px) {
            margin-bottom: 30px;
          }
          @include to(500px) {
            margin-bottom: 20px;
            flex-basis: 90%;
          }
          
          
          
          .text{
            @include to(576px){
              font-size: 10px;
            }
          }
          
          .phone-icon {
            &::before {
              color: $main-color;
              background: $gold url('../img/svg/tel.svg') center center no-repeat;
            }
          }
          
          .email-icon {
            &::before {
              background: $gold url('../img/svg/envel.svg') center center no-repeat;
            }
          }
          
          .location-icon {
            &::before {
              background: $gold url('../img/svg/loc.svg') center center no-repeat;
            }
          }
          
          .clock-icon {
            &::before {
              background: $gold url('../img/svg/clock.svg') center center no-repeat;
            }
          }
          
          @include to(1200px) {
            &::before {
              display: inline-block;
              position: static;
              width: 16px;
              height: 16px;
              top: auto;
              left: auto;
              margin-right: 10px;
              vertical-align: sub;
            }
          }
        }
      }
    }
  }
}

.contact-list__title {
  font-size: 30px;
}

.contact-list__item {
  color: $wc;

  a {
    color: $wc;
    text-decoration: none;
  }
}

.width--all:not(#some) {
  width: 100%;
  display: flex;

  @include to(768px) {
    flex-direction: column;
  }

  h4 {
    margin-right: 30px;
  }

  .text {
    color: $wc;
  }
}

.main-map, #map{
  width: 100%;
  height: 80vh;
}