.filter-results {
  @include row-flex();
  padding: 30px 0;
  justify-content: space-between;

  @include to(1200px) {
    justify-content: space-around;
  }

  @include to(576px) {
    padding: 15px 0;
    justify-content: center;
  }
}

.filter-item {
  @include col();
  @include size(3.5);
  position: relative;
  padding: 20px 15px 0 15px;
  transition: 0.3s all;

  &:hover {
    background-color: $blue;
    transform: scale(1.02);

  }

  @include to(1200px) {}

  @include to(992px) {
    @include size(5);
  }

  @include to(768px) {
    @include size(7);
  }

  @include to(576px) {
    @include size(14);
  }

  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: -0.51px;
    color: $wc;
    text-decoration: none;

  }

  &__img {
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__table {
    margin-bottom: 75px;
  }

  &__button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: unset;
    line-height: 45px;
    background-color: $main-color;
  }
}

.filter-more-appartment:not(#some) {
  margin: 0 auto 30px;
  display: block;
  width: calc(46.66666% - 20px);
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: -0.4px;
  color: $blue;
  background-color: $main-color;
  border: none;
  text-transform: none;

  @include to(576px) {
    width: calc(97% - 20px);
  }
}

.filter-info {
  @include row-flex();
  padding: 13px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  justify-content: space-around;
  align-items: center;

  @include to(576px) {
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  &-btn {
    margin: 5px;
    width: 223px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 50px;
    color: $wc;
    text-align: center;
    border: 2px solid $wc;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #999999;
  }
}


.checkbox-item {
  text-align: center;

  .filter__checkbox:checked+label {
    font-size: 14px;
    background-color: $blue;
    color: $bc;
    cursor: pointer;
  }

  input {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  label {
    display: inline-block;
    width: 46px;
    height: 46px;
    color: $wc;
    font-size: 12px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    background-color: transparent;
    border: 1px solid $wc;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      font-size: 14px;
      background-color: $main-color;
      cursor: pointer;
    }
  }
}

.search-wrapper {
  width: 21.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include to(992px) {
    margin-bottom: 30px;
    width: 50%;
  }

  @include to(576px) {
    width: 100%;
  }
}

.range-item {
  padding: 0 10px;
  margin-bottom: 30px;
  text-align: center;
  @include to(1200px);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input[type="number"] {
    width: 100px;
    height: 46px;
    text-align: center;
    color: $wc;
    border: 1px solid #fff;
    ;
    background-color: transparent;

    @include to(1400px) {
      width: 80px;
    }
  }

  &__title {
    margin-bottom: 5px;
    color: $wc;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
  }
}

.option {
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;

    @include to(576px) {
      justify-content: center;
    }

    .irs--flat .irs-line {
      height: 2px;
      background-color: $blue;
    }

    .irs--flat .irs-bar {
      height: 2px;
      background-color: $main-color;
    }

    .irs--flat .irs-handle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
    }

    .irs--flat .irs-handle>i:first-child {
      background-color: $blue;
    }

    &__title {
      width: 21.5%;
      align-self: center;
      font-size: 21px;
      font-weight: 400;
      line-height: 1.6em;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      color: $wc;
      text-align: center;

      @include to(992px) {
        width: 50%;
      }

      @include to(576px) {
        width: 100%;
      }
    }
  }

  &__rooms {
    width: 21.5%;

    @include to(992px) {
      margin-bottom: 30px;
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }

  &__entrance {
    width: 21.5%;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }

  &__floor {
    width: 21.5%;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }

  &__square {
    width: 21.5%;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }

  &__live {
    width: 21.5%;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }

  &__search-btn {
    width: 100%;
    align-self: center;
    height: 50px;
    line-height: 50px;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      margin: 0 0 10px 0;
      width: 100%;
    }
  }

  &__reset-btn {
    margin-top: 20px;
    width: auto;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: $wc;

    @include to(576px) {
      margin: 0 0 10px 0;
      width: 100%;
    }

    &:hover {
      color: $wc;
    }
  }

  &__results {
    width: 21.5%;
    color: $wc;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    text-align: center;
    align-self: center;

    @include to(992px) {
      width: 50%;
    }

    @include to(576px) {
      width: 100%;
    }
  }
}
