.gallery {
  position: relative;
  display: inline-block;
  height: 742px;
  width: 100%;
  overflow: hidden;

  &__sl {
    width: 100%;
    height: 100%;
    .slick-slide{
      object-fit: cover;
    }
    &--little {
      display: flex;
      width: 540px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      &__wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 82px;
        align-items: center;
        justify-content: center;
        background-color: $gold+E6;
      }
      img {
        width: 100px !important;
        height: 60px;
      }
      .slick-track {
        display: flex;
      }
      .slick-slide {
        margin: 0 5px;
        filter: brightness(40%) hue-rotate(20deg);
      }
      .slick-slide.active {
        filter: brightness(100%)
      }
      .slick-list {
        margin: 0 -5px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    margin: 0;
    &:after{
      bottom: 0;
    }
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .breadcrumb {
    position: absolute;
    top: 92px;
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    height: 100vh;
    &__sl {
      &--little {
        width: 320px;
      }
    }
    &__title{
      top: 10px;
    }
  }
  .sl__prev{
    left: 20px;
  }
  .sl__next{
    right: 20px;
  }
}