.main-more-news{
  &::after{
    bottom: 20px;
  }
}
.main {
  &-first {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 148px 0;
    background: url("../img/main/2-layers.jpg") no-repeat left center /cover;
    &__content {
      display: flex;
      width: 42.3%;
      height: auto;
      flex-direction: column;
      padding: 30px;
      background-color: $main-color+E6;
      color: #ffffff;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.35px;
      margin: 0 0 0 auto;
      @include to(768px){
        padding: 15px;
      }
    }

    &__heading {
      opacity: 0;
      font-family: $default-font;
      font-size: 30px;
      font-weight: 300;
      line-height: 72px;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      @include to(768px){
        font-size: 24px;
        line-height: 1.5em;
      }
    }

    &__info {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      width: 200px;
      height: 54px;
      justify-content: space-around;
      justify-content: space-evenly;
      align-items: center;
      background: $main-color+E6;
      color: #ffffff;
      font-family: $default-font;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.55px;
    }

    &__logo {
      display: none;
      width: 100%;
      height: 100%;
      
      
    }

    .icon-f {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      //margin: 0 50px;
      fill: none;
      stroke: $gold;
      stroke-width: 0.2px;
    }

    p {
      margin-bottom: 20px;
    }
    p.wow,
    b.wow {
      opacity: 0;
    }

  }

  &-two {
    display: flex;
    width: 100%;
    background: $main-color;

    &__quote {
      opacity: 0;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      justify-content: center;
      width: 30%;
      color: #ffffff;
      font-family: $default-font;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.6px;
      padding: 10px 50px;
    }

    .wow{

      opacity: 0;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      flex-shrink: 1;
      color: #ffffff;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.35px;
      padding: 10px 50px;
      .description__text {
        opacity: 0;
      }
    }

    &__img {
      width: 40%;
      height: 100%;
      @include to(767px){
        height: auto;
      }
    }
  }

  &-three {
    position: relative;
    display: flex;
    height: 100%;

    &__sl {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &__img {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 42%;
      padding: 40px 60px;
      color: #ffffff;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.35px;
      background-color: $main-color+E6;
      @include to(992px){
        font-size: 12px;
        line-height: 1.5em;
      }
    }

    &__heading {
      color: #ffffff;
      font-family: $default-font;
      font-size: 30px;
      font-weight: 300;
      line-height: 92.33px;
      text-transform: uppercase;
      letter-spacing: -0.75px;
      @include to(1200px){
        font-size: 24px;
        line-height: 1.5em;
      }
      @include to(992px){
        font-size: 18px;
      }
    }

    &__dots {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      height: 100%;
      width: 25%;
      overflow: hidden;
    }

    &__dot {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      flex-grow: 1;
      background: $main-color+E6;
      padding: 0 10px 0 40px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0.45px;
      transition: all 0.3s;
      &:hover{
        cursor: pointer;
        background: $gold+E6;
        svg{
          stroke: $wc;
        }
      }

      svg {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        margin-right: 40px;
        fill: transparent;
        stroke: #b0a96f;
      }
    }
  }

  &-four {
    display: grid;
    grid-template-areas: "one  two   two" "one  three four" "five six  six" "seven  six  six";
    grid-gap: 15px;
    padding: 30px 0;
    .article__img{
      max-height: none;
    }
    .main__grid--area__1 {
      @include to(1200px){
        max-height: 400px
      }

    }
    .main__grid--area__6 {
      @include to(1200px){
        max-height: 500px
      }

    }
  }

  &-five{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &__heading{
      font-family: $default-font;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.9px;
      margin-left: 60px;
    }
    a{
      display: flex;
      align-items: center;
      color: $gold;
      font-family: $default-font;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      text-decoration: none;
      margin-right: 60px;
      span{
        margin-right: 5px;
      }
    }
  }

  &-six {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;

    .article__elem {
      width: 50%;
      margin: 0 15px;
    }
  }

  .info--line {
    width: 40px;
    margin-bottom: 10px;
  }
}

.article {
  &__elem {
    position: relative;
    overflow: hidden;
    &:hover{
      .article__img{
        transform: scale(1.1)
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 0 0 10px;
  }

  &__heading {
    opacity: 0;
    color: #ffffff;
    font-family: $default-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
    animation-name: fadeInUp;
    animation-delay: 0.1s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    backface-visibility: visible;

  }

  &__img {
    display: block;
    height: 100%;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    user-select: none;
    transition: all 8s;
  }
}

.active.main-three__dot {
  background: $gold;

  svg {
    stroke: #fff;
  }
}

.quote {
  &__text {
    margin: 0 0 40px;
  }

  &__img {
    width: 67px;
    height: 45px;
    margin-bottom: 40px;
  }
}

.description__img {
  width: 41px;
  height: 73px;
  border-bottom: 3px solid $gold;
  padding-bottom: 20px;
  margin: 0 auto 40px;
}

.button__main {
  display: flex;
  width: 230px;
  height: 60px;
  justify-content: center;
  align-items: center;
  //border: 1px solid $gold;
  background-color: $gold;
  color: #ffffff;
  font-family: $default-font;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.71px;
  text-decoration: none;
  margin: 20px 0 0;
  cursor: pointer;
}

.simple {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: $gold;

  .article {
    &__content {
      position: static;
      transform: translate(0, 0);
    }

    &__img {
      height: 134px;
      width: auto;
      object-fit: contain;
      fill: $main-color;
    }
  }

  .button__main {
    background: $main-color;
  }

  &-revers {
    background: $main-color;

    .button__main {
      background: $gold;
    }
  }
}

.main__grid--area {
  &__1 {
    grid-area: one;
  }

  &__2 {
    grid-area: two;
  }

  &__3 {
    grid-area: three;
  }

  &__4 {
    grid-area: four;
  }

  &__5 {
    grid-area: five;
  }

  &__6 {
    grid-area: six;
  }

  &__7:not(#some) {
    grid-area: seven;
    justify-content: space-around;
    @include to(992px){
      padding: 15px;
    }
    .wrap-article-develop{
      display: flex;
      flex-direction: column;
      @include to(1199px){
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
      }
      @include to(992px){
        justify-content: space-between;
      }
      img{
        width: 135px;
        @include to(992px){
          width: 100px;
        }
        @include to(576px){
          width: 80px;
        }
      }
      .wrap-article-develop__img{
        margin: 0 auto;
        width: 99px;
        @include to(992px){
          width: 79px;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .main {
    &-first {
      padding: 80px 0;

      &__content {
        width: 50%;
      }

      &__heading {
        font-size: 24px;
        line-height: 2em;
        letter-spacing: 0.84px;
      }
    }

    &-two {
      flex-wrap: wrap;

      &__img {
        width: 50%;
      }

      &__quote {
        width: 50%;
      }

      &__description {
        width: 100%;
        padding: 45px 70px 70px;
      }
    }

    &-three {
      &__dots {
        width: 33%;
      }

      &__content {
        padding: 10px 20px 10px 30px;
      }
    }

    &-four {
      grid-template-areas: "one one" "one one" "two two" "three four" "five seven" "six six" "six six";
      padding: 30px;
    }

    &-five{
      &__heading{
        margin-left: 30px;
      }
      a{
        margin-right: 30px;
      }
    }
  }
  .simple {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 30px;

    .article__img {
      margin-bottom: 20px;
    }
  }
  .description__text {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .main {
    &-six {
      flex-direction: column;
      padding: 0 30px;

      .article__elem {
        width: 100%;
        margin: 15px 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    &-first {
      flex-direction: column;
      background: none;
      padding: 0;

      &__logo {
        display: block;
        height: 370px;
        object-fit: cover;
      }

      &__content {
        width: 100%;
      }

      &__info {
        display: none;
      }

      .icon-f {
        top: 260px;
        left: 10px;
        width: 70px;
        height: 83px;
        stroke-width: 1px;
      }

      .button__main {
        width: 100%;
      }
    }

    &-two {
      flex-direction: column;

      &__img {
        width: 100%;
      }

      &__quote {
        width: 100%;
        padding: 25px 10px;
      }

      &__description {
        padding: 15px 10px;
      }
    }

    &-three {
      display: flex;
      flex-direction: column-reverse;
      max-height: none;

      &__dots {
        position: static;
        width: 100%;
        height: auto;
      }

      &__dot {
        height: 40px;
      }

      &__sl {
        height: calc(100vh - 200px);
      }

      &__content {
        width: 100%;
        padding: 20px 10px 30px;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.25px;
      }

      &__heading {
        font-size: 14px;
        line-height: 3em;
        letter-spacing: -0.35px;
      }

      &__img img {
        height: calc(100vh - 200px);
        object-fit: cover;
      }
    }

    &-four {
      grid-template-areas: "one" "two" "three" "four" "five" "six" "seven";
      padding: 15px 10px;

      .button__main{
        width: 100%;
        height: 50px;
      }
    }

    &-five{
      flex-direction: column;
      &__heading{
        margin-left: 10px;
        font-size: 18px;
      }
      a{
        margin: 0 0 30px 10px;
      }
    }
    &-six{
      padding: 0 15px;
    }

    .article {
      &__elem {
        height: 286px;
      }
      &__heading{
        font-size: 22px;
      }
      &__content{
        top: auto;
        bottom: 30px;
        width: 100%;
        padding: 20px 30px 0;
        transform: translate(0,0);
      }
    }
    .simple .article{
      &__img{
        height: 90px;
        margin: 0;
      }
      &__content{
        padding: 20px 0;
      }
    }
    .button__main{
      width: 100%;
    }
  }
}