.location {
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding: 15px 0 0;

  &__h3 {
    color: #ffffff;
    font-family: $default-font;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.6px;
  }

  &__address {
    color: $gold;
    font-family: $default-font;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
  }

  &__maps {
    position: relative;
    display: flex;
    height: 600px;
  }
  &__sights{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px 0 0;
    overflow-x: auto;
    .sight__img,.sight__text{
      opacity: 0;
    }
  }
}

.map {
  height: 100%;
  width: 100%;

  &__points {
    height: 100%;
    width: 23.5%;
    overflow-y: auto;
  }

  &__point {
    display: flex;
    width: 100%;
    height: 86px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
    border-bottom: 8px solid $gold;
    cursor: pointer;
  }


}

.markers{
  //height: 70px!important;
  //width: 70px!important;
  background: $gold;
  opacity: 1!important;
  overflow: inherit!important;
  img{
    height: calc(100% - 24px)!important;
    width: calc(100% - 24px)!important;
    object-fit: contain;
    stroke: #ffffff;
    fill: #ffffff;
    margin: 12px!important;
  }
  &::after{
    content: "";
    position: absolute;
    //bottom: -11px;
    //right: 0;
    border-style: solid;
    border-width: 6px;
    //border-color: $gold $gold transparent transparent;
    z-index: 5555;
  }
}
.maps-info{
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  max-height: 60%;
  width: 30%;
  transform: translateY(-50%);
  background: $dirt;
  &__img{
    width: 100%;
    height: 60%;
    border-bottom: 8px solid $gold;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    padding: 20px;
  }
  &__address{
    color: $gold;
    font-family: $default-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
  }
  &__description{
    font-family: $default-font;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
}

.map div[title="marker-right-bottom"]{
  @extend .markers;
  &::after{
    bottom: -11px;
    right: 0;
    border-color: $gold $gold transparent transparent;
  }
}

.map div[title="marker-left-bottom"]{
  @extend .markers;
  //transform: translate(42px, -53px);
  &::after{
    bottom: -11px;
    left: 0;
    border-color: $gold transparent transparent $gold;
  }
}

.map div[title="marker-left-top"]{
  @extend .markers;
  &::after{
    top: -11px;
    left: 0;
    border-color: transparent transparent $gold $gold;
  }
}

.map div[title="marker-right-top"]{
  @extend .markers;
  &::after{
    top: -11px;
    right: 0;
    border-color: transparent $gold $gold transparent;
  }
}


.point {
  &-1 {
    background: url("../img/location/kiev-ukraine-june-28-2009-peremohy-1032500083_src=dIB8ZR12kzA-_lwWAnmYPQ-1-64_copy.jpg") no-repeat center /cover;
  }

  &-2 {
    background: url("../img/location/kiev-ukraine-july-072018-victory-square-1130266790_src=3jmfi4ThObiT7Y02ZuXPmQ-1-22_copy.jpg") no-repeat center /cover;
  }

  &-3 {
    background: url("../img/location/national-circus-ukraine-victory-square-kiev-1124342897_src=3jmfi4ThObiT7Y02ZuXPmQ-1-11_copy.jpg") no-repeat center /cover;
  }

  &-4 {
    background: url("../img/location/traditional-classically-regal-ornate-rounded-wood-589258457_src=XTMdnB0pOpiZlGx6nTYJKw-1-0.jpg") no-repeat center /cover;
  }

  &-5 {
    background: url("../img/location/sunrise-beam-beautiful-park-1007648908_src=NIxQuBZBLLclcdpFsbiPxQ-1-4.jpg") no-repeat center /cover;
  }

  &-6 {
    background: url("../img/location/green-park-city-sunset-excercise-relax-491409886_src=NIxQuBZBLLclcdpFsbiPxQ-1-12.jpg") no-repeat center /cover;
  }

  &-7 {
    background: url("../img/location/beautiful-meadow-park-1018971775_src=NIxQuBZBLLclcdpFsbiPxQ-1-91.jpg") no-repeat center /cover;
  }
}
.sight{
  width: 300px;
  height: auto;
  margin: 0 30px 40px;
  &__img{
    width: 100%;
    height: 165px;
    border-bottom: 15px solid $gold;
    object-fit: cover;
  }
  &__text{
    color: #ffffff;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
  }
}

@media screen and (max-width: 767px){
  .location{
    &__maps{
      height: auto;
      flex-direction: column-reverse;
    }
    &__h3{
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.45px;
      margin-top: 20px;
    }
    &__address{
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.45px;
    }
  }

  .map{
    width: 100%;
    height: 600px;
    &__points{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    &__point{
      width: auto;
      min-width: 50%;
      flex-grow: 1;
    }
  }
  .sight{
    margin: 0 10px 20px;
    &__text{
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  }

  .maps-info{
    top: auto;
    bottom: 0;
    transform: translate(0, 0);
    width: 100%;
    &__img{
      border-bottom: 4px solid $gold;
    }
    &__content{
      padding: 10px;
    }
    &__address{
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.3px;
      margin-bottom: 10px;
    }
    &__description{
      font-size: 12px;
      line-height: 24px;
    }
  }
}