.sccsess-block{
  color: $wc;
  &__title{
    margin-bottom: 10px;
    min-height: auto;
    font-size: 45px;
    text-align: center;
    @include to(768px);
      font-size: 30px;
    @include to(576px);
      font-size: 24px;
  }
  &__subtitle{
    margin-bottom: 60px;
    text-align: center;
    @include to(768px){
      margin-bottom: 0px;
    }
  }
}