.news-list{
  @include row-flex();
  @include to(768px){
    justify-content: center;
  }
}
.news-item{
  @include col();
  @include size(7.5);
  margin-bottom: 25px;
  display: block;
  text-decoration: none;
  @include to(768px){
    @include size(10);
  };
  @include to(576px){
    @include size(14);
  };
  &__title.wow{
    opacity: 0;
  }
  &__title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: -0.6px;
    color: $wc;
  }
  &__img.wow{
    opacity: 0;
  }
  &__img{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15px;
      content: '';
      background-color: $gold;
    }
    img{
      display: block;
      height: 100%;
      object-fit: cover;
      transition: 0.3s all;
    }
  }
}
.news-data {
  display: flex;
  align-items: center;
  svg{
    margin-right: 10px;
    width: 11px;
    height: 12px;
    fill: $gold;
  }
  .news-time {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: $gold;
    @include to(992px){
      font-size: 12px;
    }
  }
}
.pagination{
  padding: 50px 0;
  @include to(768px){
    padding: 30px 0;
  }
  @include to(576px){
    padding: 15px 0;
  }
  a{
    margin: 0 15px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    color: $wc;
    text-decoration: none;
    &:hover{
      color: $gold;
    }
  }
  a.prev,
  a.next {
    padding: 0 20px;
  }

  a.prev{
    transform: rotate(180deg);
    svg:first-child{
      margin-right: -7px;
    }
  }
  a.next{
    svg:first-child{
      margin-right: -7px;
    }
  }
  svg{
    width: 7px;
    height: 9px;
    fill: $gold;
  }
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers.current{
  margin: 0 15px;
  font-size: 11px;
  color: $gold;
}