.webcamera {
  padding: 50px 0;

  @include to(1200px) {
    padding: 30px 0;
  }
  @include to(576px) {
    padding: 0px 0;
    padding-bottom: 30px;
  }

  @include row-flex();
  justify-content: space-between;
  align-items: center;
  @include to(992px){
    justify-content: center;
  }
}

.video {
  position: relative;
  height: 0;
  padding-bottom: 40.3%;
  background-color: #eaeaea;
  @include col();
  @include size(11);
  
  @include to(768px) {
    @include size(14);
    padding-bottom: 51%;
  }

  @include to(576px) {
    margin: 0 auto;
  }

  &:hover {
    &::after {
      bottom: 0;
      left: 0;
    }

    .video__btn .video-btn-shape {
      fill: #ff0000;
      fill-opacity: 1;
    }
  }

  &__link {
    display: block;
  }

  &__embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__btn {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    display: none;
    width: 68px;
    height: 48px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;

    svg {
      width: 100%;
      height: 100%;
    }

    &:focus {
      .video-btn-shape {
        fill: #ff0000;
        fill-opacity: 1;
      }
    }

    .video-btn-icon {
      fill: #fff;
    }

    .video-btn-shape {
      fill: #212121;

      @include to(768px) {
        fill: #ff0000;
        fill-opacity: 1;
      }
    }
  }
}

.video--enabled .video__btn {
  display: block;
}

.video--enabled {
  cursor: pointer;
}

.webсamera-descr {
  @include col();
  @include size(3.8);
  
  @include to(992px) {
    @include size(8);
    margin: 40px auto 0;
    padding: 0 15px;
  }
  @include to(768px){
    @include size(14);

  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: $gold;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.7px;
    color: $wc;
  }

  &__btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}