extends ../layout/main


	
block meta
	title= '123'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
		script(src= 'https://maps.googleapis.com/maps/api/js?key=AIzaSyATtAtvM1V2tpg9HAcmQNKIrTV9hHwevOw')
		script(src='./assets/scripts/index.js')
	
block content
	section.main-screen
		.container
			.row
				.main-screen-content
					span(data-speed="9" class="main-screen-content__img js-parallax-item parallax-item")
						img(src='./assets/images/home/img-1.jpg' alt='' title='').wow.scaleIn
					span( class="main-screen-decor clippath")
						span(class='wow decor-block-animation')
					+icon('mouse')(class='main-screen__icon fill--mc')
					+icon('logo')(class='main-screen__logo fill--bc')
	section.second-section.container
		.section
			h2.section__title.second-section__title
				span.section__title-word-wrapper
					span(class="bg-color-animate wow bgc--mc")
					span(class="section__title-word long-word font-opacity wow") Art
				span.section__title-word-wrapper
					span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
					span(class='section__title-word font-opacity wow') of Living
			.section__text-block
				p 5 апреля 2018 года в рамках Большого архитектурного форума "Современные городские пространства. Архитектура  в исторической среде" была представлена концепция нового проекта SAGA Development –  SAGA City Space, который будет расположен в сердце Подола – на улице Сагайдачного, 18.
				a(href="#").section__link
					+icon('arrow')(class='section__arrow fill--mc2 btn-animation wow')
			div( class='section__img ')
				img(data-speed="100" src='./assets/images/home/img-22.jpg' class='js-parallax-item parallax-item')
	section.third-section.container
		.section
			h2.section__title.second-section__title
				span.section__title-word-wrapper
					span(class="bg-color-animate wow bgc--mc")
					span(class="section__title-word long-word font-opacity wow") Серце
				span.section__title-word-wrapper
					span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
					span(class='section__title-word font-opacity wow') подолу
			.section-bloks
				span(data-speed="10" class="section-bloks__dekor js-parallax-item parallax-item")
					span(class='wow decor-block-animation')
				span(data-speed="20" class="section-bloks__img js-parallax-item parallax-item")
					img(src='./assets/images/home/img-3.jpg').wow.scaleIn
			.section__text-block
				p 5 апреля 2018 года в рамках Большого архитектурного форума "Современные городские пространства. Архитектура  в исторической среде" была представлена концепция нового проекта SAGA Development –  SAGA City Space, который будет расположен в сердце Подола – на улице Сагайдачного, 18.
				a(href="#").section__link
					+icon('arrow')(class='section__arrow fill--mc2 btn-animation wow')
	.four-section-wrapper
		section.four-section.container
			.section
				h2.section__title.four-section__title
					span.section__title-word-wrapper
						span(class="bg-color-animate wow bgc--mc")
						span(class="section__title-word long-word font-opacity wow") Обрати
					span.section__title-word-wrapper
						span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
						span(class='section__title-word font-opacity wow') апартаменти
				.section-bloks
					span(data-speed="10" class='section-bloks__img align-self--bottom js-parallax-item parallax-item')
						img(src='./assets/images/home/img-4.jpg').wow.scaleIn
					span(data-speed="20" class='section-bloks__img translate--y clippath js-parallax-item parallax-item')
						img(src='./assets/images/home/img-5.jpg').wow.scaleIn
	section.five-section.container
		.section
			h2.section__title.five-section__title
				span.section__title-word-wrapper
					span(class="bg-color-animate wow bgc--mc")
					span(class="section__title-word  font-opacity wow") мистецтво
				span.section__title-word-wrapper
					span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
					span(class='section__title-word long-word font-opacity wow') життя
			.section-bloks
				span(data-speed="20" class='js-parallax-item parallax-item section-bloks__img clippath')
					img(src='./assets/images/home/img-6.jpg').wow.scaleIn
			.section__text-block
				h3.text-block__title Суспільний простір
				p Територія вашого комфорту не обмежується вашими апартаментами. Кожна деталь важлива, коли мова йде про такий витвір мистецтва як SAGA apartments.
				a(href="#").section__link
					+icon('arrow')(class='section__arrow fill--mc2 btn-animation wow')
	section.six-section.container
		.section
			h2.section__title.six-section__title
				span.section__title-word-wrapper
					span(class="bg-color-animate wow bgc--mc4")
					span(class="section__title-word long-word font-opacity wow") Суттєві
				span.section__title-word-wrapper
					span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
					span(class='section__title-word font-opacity wow') переваги
			.section__text-block
				p Урбан-анализ местности состоял в изучении исторического контекста участка, функционального назначения соседних зданий, движения легкового и грузового транспорта по окружающим улицам и возможности подъезда к участку автомобилей экстренных служб.
				a(href="#").section__link
					+icon('arrow')(class='section__arrow fill--mc2 btn-animation wow')
			.section-bloks
				span(data-speed="20" class='section-bloks__img js-parallax-item parallax-item')
					img(src='./assets/images/home/img-7.jpg').wow.scaleIn
				span(data-speed="10" class='section-bloks__dekor  js-parallax-item parallax-item')
					span(class='wow decor-block-animation bgc--mc')
	.seven-section-wrapper
		section.four-section.container
			.section
				h2.section__title.seven-section__title
					span.section__title-word-wrapper
						span(class="bg-color-animate wow bgc--mc")
						span(class="section__title-word long-word font-opacity wow") День у
					span.long-word saga
					span.section__title-word-wrapper
						span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
						span(class='section__title-word font-opacity wow') apartments
				p.seven-section-text Територія вашого комфорту не обмежується вашими апартаментами. Кожна деталь важлива, коли мова йде про такий витвір мистецтва як SAGA apartments.
				.section-bloks
					span(data-speed="10" class='section-bloks__img translate--y clippath js-parallax-item parallax-item')
						img(src='./assets/images/home/img-8.jpg').wow.scaleIn
					span(data-speed="20" class='section-bloks__img align-self--bottom js-parallax-item parallax-item')
						img(src='./assets/images/home/img-9.jpg').wow.scaleIn
	section.eight-section.container
		.section
			h2.section__title.eight-section__title
				span.section__title-word-wrapper
					span(class="bg-color-animate wow bgc--mc")
					span(class="section__title-word  font-opacity wow") Зворотній
				span.section__title-word-wrapper
					span(data-wow-delay="0.3s" class="bg-color-animate wow bgc--mc2")
					span(class='section__title-word long-word font-opacity wow') зв’язок
			#map.map
			form.main-form#form
				.main-form-block.requaired
					input(name="name" type="text" data-rule="empty").main-form__input.main-form__input-requaired
					span(data-defaultMessage="Ваше ім'я:*" data-errorMessage="Ваше ім'я не заповнено:").main-form-content
						span.main-form__text Ваше ім'я:*
				.main-form-block.requaired
					input(name="name" type="text" data-rule="empty").main-form__input.main-form__input-requaired
					span(data-defaultMessage="Телефон:*" data-errorMessage="Телефон: не заповнено:").main-form-content
						span.main-form__text Телефон:*
				.main-form-block.requaired
					input(name="name" type="text" data-rule="").main-form__input.main-form__input-requaired
					span(data-defaultMessage="Повідомлення:" data-errorMessage="Ваше ім'я не заповнено:").main-form-content
						span.main-form__text Повідомлення:
				button.main-form__button
					+icon('arrow')(class=' fill--mc2 btn-animation wow')





block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug

