// Global class

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.js-no-valid:not(#some){
  border-bottom: 1px solid red
}
.tablet--hidden:not(#some){
  @include to(768px){
    display: none;
  }
}
.desctop--hidden:not(#some){
  @include from(769px){
    display: none;
  }
}





.menu-btn:not(#some) {
  position: fixed;
  background-color: $main-color;
}

.button-size--md{
}

.visible--hidden:not(#some){
  display: none;
}
.overflow--hidden:not(#some){
  overflow: hidden;
}



