.breadcrumb {
  margin: 0 0 10px 0;
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  z-index: 6;

  li {
    margin: 0 5px;
    display: flex;
    align-items: center;
    color: $gold;
    list-style: none;

    a {
      color: $gold;
      margin-right: 10px;
      text-decoration: none;
    }

    &:last-child {
      color: $wc;
    }
  }
}

.button {
  position: relative;
  overflow: hidden;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: $wc;
  letter-spacing: 0.71px;
  background-color: transparent;
  border: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.01);
    transition: all 0.3s;
    pointer-events: none;
  }

  &:hover {
    &::before {
      background-color: rgba(24, 6, 6, 0.05);
    }
  }
}
.section__title {
  position: relative;
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: $wc;
  text-align: center;

  @include to(768px) {
    font-size: 20px;
  }

  .latter-f {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 71px;
    opacity: 0.2;
    transform: translate(-50%, -50%);

    @include to(768px) {
      width: 40px;
    }
  }

  span {
    opacity: 0;
    display: inline-block;
    animation-delay: 0.3s
  }
}

.hover-underline {
  position: relative;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    height: 1px;
    width: 100%;
    content: '';
    transform: scale(0);
  }

  &:hover {
    &::after {
      transition: 0.4s;
      transform: scale(1);
    }
  }
}

.underline-color--white {
  &::after {
    background-color: $wc;
  }
}

.underline-color--dark {
  &::after {
    background-color: $main-color;
  }
}