$default-font: "acrom", sans-serif;
$gotham: "gotham", sans-serif;
$main-color: #454158;
$gold: #b0a96f;
$text: #929498;
$dirt: #54565b;
$wc: #fff;
$bc: #000;
$dirt: #54565b;


/* $gold: rgba(176, 169, 111, 0.5); */